<div class='container-fluid'>
    <div class='row' *ngIf=' lgHeaderOn '>
        <div class='col-sm-3'></div>
        <div class='col-sm-6 center'>
            <a [href]=banner.link>
                <img [src]=banner.img [height]=banner.height />
            </a>
        </div>
        <div class='col-sm-3 right'>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-5 col-lg-5 left bottom'>
            <app-h-menu></app-h-menu>
        </div>
        <div class="col-sm-2 center">
            <button (click)='lgHeaderToggle()'>{{ lgHeaderOn ? '^^' : 'vv' }}</button>
        </div>
        <div class='col right bottom'>
            <button [class.brightButton]='buttonMouseOver' (mouseenter)='mouseEnter()' (mouseleave)='mouseLeave()'
                (click)='toggleMenu()'>{{ menuOn ? 'Menu ^' : 'Menu v' }}</button>
        </div>
    </div>
</div>