<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2 left'>
            <img src='/assets/images/911.gif' />
        </div>
        <div class='col-sm-8 center bold'>
            <p>{{ dateStr }}</p>
            <p></p>
            <a href='mailto:billm@wamusa.com'>Comments?</a><br />
            All programming and design work by<br />
            <a href='http://www.wamcomputers.com'>WAM Computers</a><br />
            211 N State St.<br />
            Litchfield, IL 62056, USA<br />
        </div>
        <div class='col'></div>
    </div>
</div>
