<div class='container-fluid'>
    <div class='row'>
        <div class='col center'>
            <a href="https://www.wunderground.com/webcams/WU_4888913/1/show.html">
                <img id="downtown" alt="" [src]="picURL" height="338" width="600" /></a><br />
            <p>Live picture of North State Street, Litchfield (Updated:
                <span>{{ timeStamp }}</span>)
            </p>
            <!-- <button *ngIf='updateEnabled' (click)='stopUpdate()'>Stop Update</button>
            <button *ngIf='!updateEnabled' (click)='startUpdate()'>Start Update</button> -->
        </div>
    </div>
    <div class='row'>
        <div class='col center'>
            <a href="https://montgomeryco.com/health/Public%20Health/Coronavirus.html">
                <h4>Montgomery County Health Department COVID-19 Update</h4>
            </a>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <app-buy-computer></app-buy-computer>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <img src='/assets/images/secure.jpg' />
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <app-gas-buddy></app-gas-buddy>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <img src='/assets/images/ssm-.jpg' />
        </div>
    </div>
</div>