<div class='container'>
  <div class='row'>
    <!-- <div>
      <button (mouseenter)='mouseEnter("menu")' (mouseleave)='mouseLeave("menu")' (click)='toggleMenu()' [class.brightButton]='displayMenu["menu"]'>Menu {{displayButton ? "<" : ">"}}</button>
    </div> -->
    <div *ngFor='let link of links'>
      <span (mouseenter)='mouseEnter(link.heading)' (mouseleave)='mouseLeave(link.heading)'>
        <button *ngIf='displayButton' [class.brightButton]='displayMenu[link.heading]' >{{ link.heading }}</button>
        <br />
        <app-dd-menu class='ddmenu' *ngIf='displayMenu[link.heading]' [menuItems]='link.links'></app-dd-menu>
      </span>
    </div>
  </div>
</div>