<div class="container">
    <table width="80%">
        <tr>
            <td colspan="3">Gas Prices in the local area</td>
        </tr>
        <tr *ngFor='let each of testing1234'>
            <td>{{ each["id"] }}</td>
            <td>{{ each['userId'] }}</td>
            <td>
                <table width='100%'>
                    <tr>
                        <td>{{ each }}</td>
                    </tr>
                    <!-- <tr>
                        <td>{{ each['body'] }}</td>
                    </tr> -->
                </table>
            </td>
        </tr>
    </table>
</div>