<!-- Start GasBuddy Code -->
<table width="100%">
    <tr>
        <td align="center" style="font-family:Times New Roman; font-weight:bold; font-size:16px;">Lowest Gas Prices
            in<span id="tenlowest_title">&nbsp;Hillsboro, Litchfield</span></td>
    </tr>
    <tr>
        <td align="center" id="gasbuddy_18610">
            <script language="JavaScript" type="text/javascript"
                src="http://df.gasbuddy.com/feed.df?k=wE0kFXqEpz4BdbeniEaVXjZDU4zKPiE424XUqLO5bzqSICLAMWkAMlrC9dcyojy89pyGSIg2QB8%3d&i=18610"></script>
            <!-- GasBuddy links are required by the terms of service. Removal may result in termination of service. Please contact GasBuddy support if you wish to make changes. -->
        </td>
    </tr>
    <tr>
        <td align="center" style="font-family:Times New Roman; font-weight:bold; font-size:11px;"><b><a id="a_sitenm"
                    href="http://www.IllinoisGasPrices.com" target="_blank"><span id="site_lnk">Illinois Gas
                        Prices</span></a>&nbsp;provided by <a href="http://www.GasBuddy.com"
                    target="_blank">GasBuddy.com</a></b></td>
    </tr>
</table>
<!-- End GasBuddy Code -->