<div class='contaner computer'>
    <div class='row'>
        <div class='col-sm-2'></div>
        <div class='col-sm-3 box'>
            <br /><br /><br /><br /><br />
            <img src='/assets/images/computer.png' />
        </div>
        <div class='col-sm-5 box'>
            <h3>WAM Computers<br>
                Will buy your old computer!
            </h3>
            <br>
            <h5>
                The average price for an old usable computer is over $100
                <br>
                <br>
                Bring your old computers and notebooks to WAM and if it is a system that we can refurbish
                and sell, we will buy it from you! If it is too old or not working, we will recycle
                it for free. Hard drive data will be completely destroyed to protect your personal
                information. For CRT monitors and printers, there is a $10 recycle fee and $5 charge
                for old LCD flat panel displays.
            </h5>
        </div>
    </div>
</div>
