<div class='container-fluid'>
    <div class='row'>
        <div class='col center'>
            <div>
                <a href="https://www.wunderground.com/webcams/WU_4888913/1/show.html">
                    <img id="downtown" alt="" [src]="picURL" [height]="imgHeight" [width]="imgWidth" /></a>
                <a href="#" (click)="resizePhoto()">{{ photoSmall ? '>>>' : '<<<' }}</a>
                <br />
            </div>
            <p>Live picture of North State Street, Litchfield (Updated:
                <span>{{ timeStamp }}
                    <a *ngIf='updateEnabled' href="#" (click)='stopUpdate()'>[Stop Updates]</a>
                    <a *ngIf='!updateEnabled' href="#" (click)='startUpdate()'>[Start Updates]</a>
                </span>)
            </p>

        </div>
    </div>
    <div class='row'>
        <div class='col center'>
            <a href="https://montgomeryco.com/health/Public%20Health/Coronavirus.html">
                <h4>Montgomery County Health Department COVID-19 Update</h4>
            </a>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <app-buy-computer></app-buy-computer>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <img src='/assets/images/secure.jpg' />
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <app-gas-buddy></app-gas-buddy>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col center'>
            <a href='http://www.idot.illinois.gov/transportation-system/safety/roadway/ssm/index'>
                <img src='/assets/images/ssm_banner.png' />
            </a>
        </div>
    </div>
</div>