div {
    width: 250px;
    padding: 3px;
    border: solid;
    border-color: black;
    border-radius: 3px;
    background-color: yellow;
}

ul {
    list-style-image: url('/assets/images/blue.gif');
    text-align: left;
}

li.heading {
    color: black;
}
.noDot {
    list-style: none;
}

h6 {
    margin-bottom: 0px;
}